intermediate/
cmake_install.cmake
Eight.sln
*.vcproj*
*.ncb
*.suo
*.tmp
*.sdf
*.user
*.opensdf
*.pyc
.DS_Store
~$*
/bin/
/lib/
/tool/bin/
/tool/eightnet/bin/
obj/
*.dir/
CMakeCache.txt
CMakeFiles/
doc/html/
doc/latex/
doc/rtf/
msvc/
msvc10/
/external/librocket/Build/build/
/external/freetype-2.3.5/objs/
*Debug*/
*Release*/
*_ispc.h
/external/steam_sdk/tools/ContentBuilder/output

/msvc11_64
/bin64
/lib64

/msvc14_64

